# postgres volume
ny_taxi_postgres_data/
# document
data_dictionary_trip_records_yellow.pdf
VigilaDE_TR.pdf
# data
yellow_head.csv
yellow_tripdata_2021-01.csv.gz
yellow_tripdata_2021-01.parquet
*.gz
*.csv
dtc-de-zoomcamp-2023-376118-1c4179afc577.json
